*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f4f4f4;
}
.gallery {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    width: 100%;
    padding: 10px;
}
.gallery img {
    width: 50%;
    height: auto;
    border-radius: 8px;
    padding: auto;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}